:host {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    div.container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img {
            margin-bottom: 30px;
        }

        .btn-primary,
        app-input-add-item {
            width: 100%;
        }
    }

    main.container {
        height: calc(100vh - 130px - 90px);
        height: calc(100dvh - 130px - 90px);

        overflow-y: auto;

        &::-webkit-scrollbar{
            width: 4px;
        }
        &::-webkit-scrollbar-track{
            background:var(--bg);
        }
        &::-webkit-scrollbar-thumb{
            background: var(--primary-010);
            border-radius: 5px;
        }
    }

    footer {
        height: 90px;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        border-top: 2px solid var(--primary);
    }
}