:root {
    --primary: #555934;
    --primary-010: #6b6d4a;

    --secondary: #e66c25;
    --secondary-010: rgb(118, 66, 21);

    --bg: #F2E6D8;
    --bg-010: #d3c8bb;
    --bg-020: #ad9b85;

    --white: #fff;
    --white-010: #d8d8d8;
    --black: #0f0f0f;
    --black-010: #2a2a30;

    --grey: #777777;

}